:root {
  --main-color: #7556c2ff;
  --second-color: #78a25fff;
}
/* ===== Grid Quiz =====*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-container nav {
  grid-column: 1/13;
}

.grid-container header {
  grid-column: 1/13;
}
.grid-container main {
  grid-column: 1/13;
}
.grid-container footer {
  grid-column: 1/13;
}


/*===== Quiz Format =====*/

main {
  padding-top:20px;
  display: flex;
  justify-content: center; /* horizontal */
}

.quiz-format p {
  padding-top:10px;
  font-size: 1em;
}

.border {
    border: solid;
    border-radius: 10px;
    border-color: var(--main-color);
    padding: 30px;
    margin-bottom: 20px;
}


button {
margin-top:10px;
padding: 5px;
border-radius:5px;
background-color: var(--main-color)
}

.media-grid {
  @media screen and (max-width: 1020px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    }
  }

