

/* ===== GRID LAYOUT =====*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  
}
.grid-container nav {
  grid-column: 1/13;
}

.grid-container header {
  grid-column: 1 / 13;
}

.grid-container main {
  grid-column: 1 / 13;
}

.grid-container footer {
  grid-column: 1 / 13;
}

a {
  font-weight: 500;
  color: var(--link-color)
}

a:hover {
  color: var(--main-color);
  }

.nutrition-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding:1.5rem
}

.center-panel {
   grid-column: 1 / -1;
}

.image-size {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border-radius: 1rem;
}

.center-format 
  {
   text-align: center;
   font-size: 1.1em;
   padding-top: 20px;
   padding-bottom: 10px;
   margin-left: 30px;
   margin-right: 30px;
  }

  .main-header{
    font-size: 1.8em;
    text-align: center;
  }

.main-format 
  h3{
    font-size: 1.3em;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
.main-format 
  p{
    color:black;
    margin-left: 30px;
    margin-right: 30px;
    
  }
.whole-header{
    font-size: 1.8em;
    text-align: center;
    padding-top:20px;
  }

  .whole-content p{
    color:black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 1rem;

  }

/* Left Panel (Reccomended) */
.left-panel {
  border: 5px solid var(--main-color);
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.list-layout {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1em;
}


/* Right Panel (Not Reccomended) */
.right-panel {
  border: 5px solid var(--main-color);
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.list-layout-right {
  text-align: left;
  padding-left: 1em;
}

.icon {
  height: 30px;
  margin-right: 10px;
}


/*===== MEDIA SCREEN =====*/

.media-grid {
  @media screen and (max-width: 700px) {
    main {
      grid-column: 1/13;
    }
    .center-panel {
      grid-row: 1;
      grid-column: 1/13;
    }
    .left-panel {
      grid-row: 2;
      grid-column: 1/13;
    }
    .right-panel {
      grid-row: 3;
      grid-column: 1/13;
    }
  }
}
