.padding-home {
  padding: 1em;
}

/* ===== Grid Home Page =====*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-container nav {
  grid-column: 1/13;
}

.grid-container header {
  grid-column: 1/13;
}
.grid-container main {
  grid-column: 1 / span 5;
}
.grid-container aside {
  grid-column: 6 / span 7;
}
.grid-container footer {
  grid-column: 1/13;
}


/*====== IMAGE HEIGHT =====*/ 

aside img {
  width: 100%;

  display: block;

  max-width: none;

  
}
/*===== MEDIA SCREEN =====*/

.media-grid {
  @media screen and (max-width: 1020px) {
    main,
    aside {
      grid-column: 1/ 13;
    }
  }
}
