/*===== Grid Gallery =====*/

.grid-container-gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-container-gallery nav {
  grid-column: 1/13;
}

.grid-container-gallery header {
  grid-column: 1/13;
}
.grid-container-gallery main {
  grid-column: 1 / 13;
}
.grid-container-gallery aside {
  grid-column: 1 / 13;
}
.grid-container-gallery footer {
  grid-column: 1/13;
}

/*===== GALLERY =====*/

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;          
  justify-content: center;   
}

.gallery-grid img {
  width: 100%;               
  aspect-ratio: 1 / 1;       
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.10);
}

#lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(117,86,196,0.8);
  justify-content: center;
  align-items: center;
  
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: var(--second-color);
  cursor: pointer;
}

aside {
    background-color: var(--second-color);
    margin-top: 15px;
}

.content {
    color:white;
    padding:20px;
    max-width: 1200px;
    margin: 0 auto;  
  }
