:root {
  --main-color: #7556c2ff;
  --second-color: #78a25fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  background-color: var(--main-color);
}

nav ul {
  margin: 1em;
  padding: 0.5em;
  list-style: none;
 
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  border-style: solid;
  border-color: var(--second-color);
  border-radius: 7px;
  border-width: 2px;
  padding: 0.2em;
}

nav a:hover {
  color: var(--second-color);
}

.flex-container {
  display: flex;
  gap: 0.3rem;
  flex-direction: row;
  justify-content: flex-end;
  white-space: nowrap;
}

/*===== MEDIA SCREEN =====*/

@media (max-width: 600px) {
  nav a {
    font-size: 0.9em;
    padding: 0.15em;
  }

  nav ul {
    margin: 0.5em;
  }
}