.grid-container.quiz {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.grid-container.quiz nav {
  grid-column: 1/13;
}

.grid-container.quiz header {
  grid-column: 1/13;
}
.grid-container.quiz main {
  grid-column: 1/13;
}
.grid-container.quiz footer {
  grid-column: 1/13;
}

/*===== LAYOUT =====*/

.layout {
   display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  padding-top: 20px;
  margin-left:20px
}

.layout ul {
    display: block;       
    margin-bottom: 20px;  
    padding-left: 20px;   
  }

  .layout h3 {
    padding-top:20px;
  }

  a {
    color: var(--link-color)
  }

  a:hover {
  color: var(--main-color);
  }